<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Add Author</nb-card-header>
      <nb-card-body>

        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth placeholder="First Name">
          <input type="text" nbInput fullWidth placeholder="Last Name">
        </div>

        <input type="text" nbInput fullWidth placeholder="Username">

        <input type="email" nbInput fullWidth placeholder="E-mail">

        <input type="password" nbInput fullWidth placeholder="Password">

        <input type="text" nbInput fullWidth placeholder="Phone">
        
        <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Description"></textarea>

        <div class="form-group">
          <label>Select profile picture to upload</label>
          <input type="file" accept="image/*" class="form-control">
        </div>


          <button  nbButton status="primary" hero>
            Add Author
          </button>

      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">

  </div>
</div>