<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-xl-3">
        <app-user-card></app-user-card>
      </div>
      <div class="col-lg-6 col-xl-9">
        <div class="card">
          <div class="card-body">
            <div class="form-validation">
              <form [formGroup]="form" class="form-valide">
                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >Username <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <input
                      type="text"
                      class="form-control"
                      id="val-username"
                      name="val-username"
                      placeholder="Enter a username.."
                      formControlName="userName"
                    />
                    <div *ngIf="userName.touched && userName.invalid">
                      <div class="alert alert-danger">
                        Username cannot be empty
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-email"
                    >Email <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <input
                      type="text"
                      class="form-control"
                      id="val-email"
                      name="val-email"
                      placeholder="Your valid email.."
                      formControlName="email"
                    />
                    <div *ngIf="email.touched && email.invalid">
                      <div *ngIf="email.errors.email">
                        <div class="alert alert-danger">
                          Invalid Email address
                        </div>
                      </div>
                      <div *ngIf="email.errors.required">
                        <div class="alert alert-danger">
                          Email is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-password"
                    >Password <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <input
                      type="password"
                      class="form-control"
                      id="val-password"
                      name="val-password"
                      placeholder="Choose a safe one.."
                      formControlName="password"
                    />
                    <div *ngIf="password.touched && password.invalid">
                      <div *ngIf="password.errors.minlength">
                        <div class="alert alert-danger">
                          Password should be at least
                          {{ password.errors.minlength.requiredLength }}
                          characters
                        </div>
                      </div>
                      <div *ngIf="password.errors.required">
                        <div class="alert alert-danger">
                          Password is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label
                    class="col-lg-4 col-form-label"
                    for="val-confirm-password"
                    >Confirm Password <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <input
                      type="password"
                      class="form-control"
                      id="val-confirm-password"
                      name="val-confirm-password"
                      placeholder=""
                      formControlName="confirmPassword"
                    />
                    <div
                      *ngIf="confirmPassword.touched && confirmPassword.invalid"
                    >
                      <div *ngIf="confirmPassword.errors.passwordNotMatch">
                        <div class="alert alert-danger">
                          Passwords does not match
                        </div>
                      </div>
                      <div *ngIf="confirmPassword.errors.required">
                        <div class="alert alert-danger">
                          Confirm password is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-suggestions"
                    >Suggestions <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <textarea
                      class="form-control"
                      id="val-suggestions"
                      name="val-suggestions"
                      rows="5"
                      placeholder="What would you like to see?"
                    ></textarea>
                  </div>
                </div> -->
                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-skill"
                    >Designation <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <select
                      class="form-control"
                      id="val-skill"
                      name="val-skill"
                      formControlName="accessName"
                    >
                      <option value="">Please select</option>
                      <option value="html">Admin</option>
                      <option value="css">Staff</option>
                    </select>
                    <div *ngIf="accessName.touched && accessName.invalid">
                      <div *ngIf="accessName.errors.required">
                        <div class="alert alert-danger">
                          Select access type
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-phoneus"
                    >Phone (US) <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <input
                      type="text"
                      class="form-control"
                      id="val-phoneus"
                      name="val-phoneus"
                      placeholder="xxxxxxxxxx"
                      formControlName="mobile"
                    />
                    <div *ngIf="mobile.touched && mobile.invalid">
                      <div *ngIf="mobile.errors.minlength">
                        <div class="alert alert-danger">
                          Mobile number should be at least
                          {{ mobile.errors.minlength.requiredLength }} numbers
                        </div>
                      </div>
                      <div *ngIf="mobile.errors.maxlength">
                        <div class="alert alert-danger">
                          Mobile number cannot exceed
                          {{ mobile.errors.maxlength.requiredLength }} numbers
                        </div>
                      </div>
                      <div *ngIf="mobile.errors.required">
                        <div class="alert alert-danger">
                          Password is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="form-group row">
                  <label class="col-lg-4 col-form-label"
                    ><a href="#">Terms &amp; Conditions</a>
                    <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-8">
                    <label
                      class="css-control css-control-primary css-checkbox"
                      for="val-terms"
                    >
                      <input
                        type="checkbox"
                        class="css-control-input"
                        id="val-terms"
                        name="val-terms"
                        value="1"
                      />
                      <span class="css-control-indicator"></span> I agree to the
                      terms</label
                    >
                  </div>
                </div> -->
                <div class="form-group row">
                  <div class="col-lg-8 ml-auto">
                    <button
                      type="submit"
                      [disabled]="form.invalid"
                      class="btn btn-primary"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                  <img
                    alt=""
                    class="rounded-circle mt-4"
                    src="images/users/4.jpg"
                  />
                  <h4 class="card-widget__title text-dark mt-3">
                    Bennie Belvin
                  </h4>
                  <p class="text-muted">Junior Tester</p>
                  <a
                    class="btn gradient-4 btn-lg border-0 btn-rounded px-5"
                    href="javascript:void()"
                    >Folllow</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                  <img
                    alt=""
                    class="rounded-circle mt-4"
                    src="images/users/4.jpg"
                  />
                  <h4 class="card-widget__title text-dark mt-3">
                    Bennie Belvin
                  </h4>
                  <p class="text-muted">Junior Tester</p>
                  <a
                    class="btn gradient-4 btn-lg border-0 btn-rounded px-5"
                    href="javascript:void()"
                    >Folllow</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                  <img
                    alt=""
                    class="rounded-circle mt-4"
                    src="images/users/4.jpg"
                  />
                  <h4 class="card-widget__title text-dark mt-3">
                    Bennie Belvin
                  </h4>
                  <p class="text-muted">Junior Tester</p>
                  <a
                    class="btn gradient-4 btn-lg border-0 btn-rounded px-5"
                    href="javascript:void()"
                    >Folllow</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
