<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="content-body">

  <div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Vehicle Management</a></li>
        </ol>
    </div>
</div>

  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="card gradient-2">
        <div class="card-body">
          <h3 class="card-title text-white">All Vehicles</h3>
            <div class="d-inline-block">
              <h2 class="text-white">100</h2>
            </div>
            <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card gradient-2">
          <div class="card-body">
            <h3 class="card-title text-white">Free Vehicles</h3>
              <div class="d-inline-block">
                <h2 class="text-white">100</h2>
              </div>
              <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
          <div class="card gradient-2">
            <div class="card-body">
              <h3 class="card-title text-white">Assigned Vehicles</h3>
                <div class="d-inline-block">
                  <h2 class="text-white">100</h2>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
            </div>
          </div>
        </div>
      </div>

  <div>
    <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-body">
                <mat-tab-group>
                  <mat-tab label="All Vehicles"><app-all-vehicles></app-all-vehicles> </mat-tab>
                  <mat-tab label="Assigned Vehicles"><app-assigned-vehicles></app-assigned-vehicles> </mat-tab>
                  <mat-tab label="Free Vehicles"><app-free-vehicles></app-free-vehicles> </mat-tab>
                </mat-tab-group>

              </div>
          </div>
      </div>
  </div>
  <!-- <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-body">
                <nav mat-tab-nav-bar>
                  <a mat-tab-link
                     *ngFor="let link of navLinks"
                     [routerLink]="link.path"
                     routerLinkActive #rla="routerLinkActive"
                     [active]="rla.isActive">
                    {{link.label}}
                  </a>
                </nav>

                <router-outlet></router-outlet>
              </div>
          </div>
      </div>
  </div> -->
</div>

</div>
<!-- #/ container -->

