<div class="content-body">
  <div class="container-fluid">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Search</h4>
          <div class="basic-form">
            <form class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <input
                  required
                  ngModel
                  formgr
                  #code="ngModel"
                  type="text"
                  name="code"
                  class="form-control"
                />
              </div>
              <button
                type="submit"
                (keyup)="search(code)"
                class="btn btn-dark mb-2"
              >
                Search
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-xl-3">
          <app-user-card [name]="name" [country]="country" ></app-user-card>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h4>Tickets</h4>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Event Name</th>
                      <th>Quantity</th>
                      <th>Author</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of orders; let i = index">
                      <th>{{ i + 1 }}</th>
                      <td>{{ order.name }}</td>
                      <td>
                        <span class="badge badge-primary px-2">{{
                          order.quantity
                        }}</span>
                      </td>
                      <td>{{ order.author }}</td>
                      <td class="color-primary">${{ order.price }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <h3>Total Amount</h3>
                  <h4>${{ total }}</h4>
                </div>
                <div class="col-lg-3">
                  <h3>Total Tickets</h3>
                  <h4>8</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
