
<div class="content-body">
  <div class="container-fluid">
    <div class="row">

        <div class="col-lg-6 col-xl-9">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <form class="form-valide" action="#" method="post">
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-username">Username <span class="text-danger"></span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-username" name="val-username" placeholder="Enter a username..">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-email">Email <span class="text-danger"></span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-email" name="val-email" placeholder="valid email..">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-password">Password <span class="text-danger"></span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="password" class="form-control" id="val-password" name="val-password" placeholder="Choose a safe one..">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-confirm-password">Confirm Password <span class="text-danger"></span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="password" class="form-control" id="val-confirm-password" name="val-confirm-password" placeholder="..and confirm it!">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-suggestions">Creations <span class="text-danger"></span>
                                </label>
                                <div class="col-lg-6">
                                    <textarea class="form-control" id="val-suggestions" name="val-suggestions" rows="5" placeholder="Novels, Poems, Articles, etc..."></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-currency">Country <span class="text-danger"></span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-currency" name="val-currency" placeholder="From where...?">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-website">Website <span class="text-danger"></span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-website" name="val-website" placeholder="http://example.com">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-phoneus">Phone <span class="text-danger"></span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-phoneus" name="val-phoneus" placeholder="212-999-0000">
                                </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" accept="image/*">
                                <label class="custom-file-label" for="inputGroupFile01">Upload jpg file</label>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-xl-3">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Authors</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped verticle-middle">
                            <tbody>
                                <tr>
                                    <td>Haruki Murakami</td>
                                    <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-danger"></i></a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dan Brown</td>
                                    <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-danger"></i></a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>J. K. Rowling</td>
                                    <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-danger"></i></a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>George R. R. Martinr</td>
                                    <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-danger"></i></a></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
          </div>
      </div>

        <div class="col">
          <div class="row">

              <div class="col-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="text-center">
                        <img
                          alt=""
                          class="rounded-circle mt-4"
                          src="../assets/images/authors/haruki.jpg"
                        />
                        <h4 class="card-widget__title text-dark mt-3">
                            Haruki Murakami
                        </h4>
                        <p class="text-muted">A Wild Sheep Chase, Norwegian Wood</p>
                        <a
                          class="btn gradient-4 btn-lg border-0 btn-rounded px-5"
                          href="javascript:void()"
                          >Edit</a
                        >
                        <br>
                        <br>
                        <a href="javascript:void()" class="btn gradient-9 btn-lg border-0 btn-rounded px-5">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>

            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div class="text-center">
                    <img
                      alt=""
                      class="rounded-circle mt-4"
                      src="../assets/images/authors/dan.jpg"
                    />
                    <h4 class="card-widget__title text-dark mt-3">
                      Dan Brown
                    </h4>
                    <p class="text-muted">The Da Vinci Code, Inferno, Origin</p>
                    <a
                      class="btn gradient-4 btn-lg border-0 btn-rounded px-5"
                      href="javascript:void()"
                      >Edit</a
                    >
                    <br>
                    <br>
                    <a href="javascript:void()" class="btn gradient-9 btn-lg border-0 btn-rounded px-5">Delete</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div class="text-center">
                    <img
                      alt=""
                      class="rounded-circle mt-4"
                      src="../assets/images/authors/j-k-rowling.jpg"
                    />
                    <h4 class="card-widget__title text-dark mt-3">
                      J. K. Rowling
                    </h4>
                    <p class="text-muted">Harry Potter series, The Casual Vacancy</p>
                    <a
                      class="btn gradient-4 btn-lg border-0 btn-rounded px-5"
                      href="javascript:void()"
                      >Edit</a
                    >
                    <br>
                    <br>
                    <a href="javascript:void()" class="btn gradient-9 btn-lg border-0 btn-rounded px-5">Delete</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-4">
                <div class="card">
                  <div class="card-body">
                    <div class="text-center">
                      <img
                        alt=""
                        class="rounded-circle mt-4"
                        src="../assets/images/authors/george.jpg"
                      />
                      <h4 class="card-widget__title text-dark mt-3">
                          George R. R. Martin
                      </h4>
                      <p class="text-muted">A Game of Thrones, A Feast for Crows</p>
                      <a
                        class="btn gradient-4 btn-lg border-0 btn-rounded px-5"
                        href="javascript:void()"
                        >Edit</a
                      >
                      <br>
                      <br>
                      <a href="javascript:void()" class="btn gradient-9 btn-lg border-0 btn-rounded px-5">Delete</a>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>

    </div>
  </div>





