
<!-- <app-side-bar></app-side-bar>
<app-vehicle-management></app-vehicle-management> -->
<!--<div class="content-body">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">-->

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>Driver Name</th>
                                    <th>Vehicle Type</th>
                                    <th>Vehicle Number</th>
                                </tr>
                            </thead>
                            <tbody>
                              <div *ngFor="let allVehicle of allVehicles">
                                <tr>
                                    <td>{{allVehicle.name}}</td>
                                    <td>{{allVehicle.model}}</td>
                                    <td>{{allVehicle.vehicleNum}}</td>
                                </tr>
                              </div>
                            </tbody>
                        </table>
                    </div>


                <!--</div>
            </div>
        </div>
    </div>

</div>-->


