<div class="card">
  <div class="card-header bg-white">
    <h5 class="card-title">Event Name</h5>
    <h6 class="card-subtitle mb-2 text-muted">Event category</h6>
  </div>
  <img
    class="img-fluid"
    src="https://images.unsplash.com/photo-1523895665936-7bfe172b757d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
    alt=""
  />
  <div class="card-body">
    <p class="card-text">
      This is a wider card with supporting text and below as a natural lead-in
    </p>
  </div>
  <div class="card-footer">
    <p class="card-text d-inline">
      <small class="text-muted">Last updated 1 sec ago</small>
    </p>
    <a href="#" class="card-link float-right"><small>More Details</small></a>
  </div>
</div>
