<div class="content-body">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form [formGroup]='form1'  (ngSubmit)="onSubmit()"
                            class="form-valide">
                                   
  
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="task">Task
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" 
                                        class="form-control" 
                                        id="task" 
                                        name="task" 
                                        placeholder="Enter the task here.."
                                        formControlName="task"
                                        />
  
                                  <div *ngIf="(task.touched && task.invalid)">
                                            <div class="alert alert-danger">
                                              Task cannot be empty
                                            </div>
                                          </div>
                                    </div>
                                </div>
  
                                <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="description">Description on Task 
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" 
                                            class="form-control" 
                                            id="description" 
                                            name="description" 
                                            placeholder="Description here.."
                                            formControlName="description"
                                            />
    
                                        </div>
                                </div>
  
                                    <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="requestBy">Request By //add a dropdown here<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" 
                                                class="form-control" 
                                                id="userName" 
                                                name="userName" 
                                                placeholder="Enter a username.."
                                                formControlName="userName"
                                                />
        
                                                <div *ngIf="userName.touched && userName.invalid">
                                                    <div class="alert alert-danger">
                                                      Username cannot be empty
                                                    </div>
                                                  </div>
                                            </div>
                                        </div>
  
                                        <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="date">Date  <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="date" 
                                                    class="form-control" 
                                                    id="date" 
                                                    name="date" 
                                                    placeholder=''
                                                    formControlName="date"
                                                    />
            
                                                    <div *ngIf="date.touched && date.invalid">
                                                        <div class="alert alert-danger">
                                                           Date of the Task//time also reqired
                                                        </div>
                                                      </div>
                                                </div>
                                            </div>
  
                                        <div class="form-group row" >
                                            <div class="col-lg-8 ml-auto" >
                                                <button
                                                    type="submit"
                                                    [disabled]="form.invalid"
                                                    class="btn btn-primary"
                                                >
  
                                                Submit
                                                </button>
                                              
                                            </div>
                                    </div>
                    
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body px-0">
                <h4 class="card-title px-4 mb-3">Todo</h4>
                <div class="todo-list">
                    <div class="tdl-holder">
                        <div class="tdl-content">
                            <ul id="todo_list">
                                <li><label><input type="checkbox"><i></i><span>Get up</span><a href='#' class="ti-trash"></a></label></li>
                                <li><label><input type="checkbox" checked><i></i><span>Stand up</span><a href='#' class="ti-trash"></a></label></li>
                                <li><label><input type="checkbox"><i></i><span>Don't give up the fight.</span><a href='#' class="ti-trash"></a></label></li>
                                <li><label><input type="checkbox" checked><i></i><span>Do something else</span><a href='#' class="ti-trash"></a></label></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="col-lg-4 col-md-6">
    <div class="card">
        <div class="card-body px-0">
            <h4 class="card-title px-4 mb-3">Ongoing</h4>
            <div class="todo-list">
                <div class="tdl-holder">
                    <div class="tdl-content">
                        <ul id="todo_list">
                            <li><label><input type="checkbox"><i></i><span>Get up</span><a href='#' class="ti-trash"></a></label></li>
                            <li><label><input type="checkbox" checked><i></i><span>Stand up</span><a href='#' class="ti-trash"></a></label></li>
                            <li><label><input type="checkbox"><i></i><span>Don't give up the fight.</span><a href='#' class="ti-trash"></a></label></li>
                            <li><label><input type="checkbox" checked><i></i><span>Do something else</span><a href='#' class="ti-trash"></a></label></li>
                        </ul>
                    </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body px-0">
                <h4 class="card-title px-4 mb-3">Recently Done</h4>
                <div class="todo-list">
                    <div class="tdl-holder">
                        <div class="tdl-content">
                            <ul id="todo_list">
                                <li><label><input type="checkbox"><i></i><span>Get up</span><a href='#' class="ti-trash"></a></label></li>
                                <li><label><input type="checkbox" checked><i></i><span>Stand up</span><a href='#' class="ti-trash"></a></label></li>
                                <li><label><input type="checkbox"><i></i><span>Don't give up the fight.</span><a href='#' class="ti-trash"></a></label></li>
                                <li><label><input type="checkbox" checked><i></i><span>Do something else</span><a href='#' class="ti-trash"></a></label></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>