
<div class="row">
  <div class="col-lg-6">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <nb-card>
      <nb-card-header>Request Volunteers</nb-card-header>
      <nb-card-body>

        <input
              type="text"
              nbInput
              fullWidth
              placeholder="Event Name"
              formControlName="eventName"
              [placeholder]="
                eventName.touched && eventName.invalid
                  ? 'Event Name Required'
                  : 'Event name'
              "
              [status]="
                eventName.touched && eventName.invalid ? 'danger' : 'primary'
              "
            />
            <input
              type="text"
              nbInput
              hidden
              fullWidth
              placeholder=""
              formControlName="task"
              value="VolunteersRequesToAuthorAccompany"
            />
            <input
              type="text"
              nbInput
              hidden
              fullWidth
              placeholder=""
              formControlName="requestedBy"
              value="Transpotation Coordinator"
            />
            <input
              type="text"
              nbInput
              hidden
              fullWidth
              placeholder=""
              formControlName="status"
              value="Todo"
            />

            <input
            type="text"
            nbInput
            fullWidth
            placeholder="Author Name"
            formControlName="authorName"
            [placeholder]="
              authorName.touched && authorName.invalid
                ? 'Author Name Required'
                : 'Author name'
            "
            [status]="
              authorName.touched && authorName.invalid ? 'danger' : 'primary'
            "
          />
          <input
          type="text"
          nbInput
          fullWidth
          placeholder="Required Number of Volunteers"
          formControlName="noVol"
          [placeholder]="
              noVol.touched && noVol.invalid
              ? 'Required Number of Volunteers Required'
              : 'Required Number of Volunteers'
          "
          [status]="
              noVol.touched && noVol.invalid ? 'danger' : 'primary'
          "
        />
        <input
              type="text"
              nbInput
              fullWidth
              placeholder="Pickup Location"
              formControlName="pickLoc"
              [placeholder]="
                   pickLoc.touched && pickLoc.invalid
                  ? 'Pickup Location Required'
                  : 'Pickup Location'
              "
              [status]="
                  pickLoc.touched && pickLoc.invalid ? 'danger' : 'primary'
              "
            />
            <input
            type="text"
            nbInput
            fullWidth
            placeholder="Pickup Time"
            formControlName="time"
            [placeholder]="
                 time.touched && time.invalid
                ? 'Pickup Time Required'
                : 'Pickup Time'
            "
            [status]="
                time.touched && time.invalid ? 'danger' : 'primary'
            "
          />
          <input
          type="text"
          nbInput
          fullWidth
          placeholder="Drop Location"
          formControlName="dropLoc"
          [placeholder]="
              dropLoc.touched && dropLoc.invalid
              ? 'Drop Location Required'
              : 'Drop Location'
          "
          [status]="
              dropLoc.touched && dropLoc.invalid ? 'danger' : 'primary'
          "
        />
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Vehicle Number"
          formControlName="vehNum"
          [placeholder]="
              vehNum.touched && vehNum.invalid
              ? 'vehicle Number Required'
              : 'Vehicle Number'
          "
          [status]="
              vehNum.touched && vehNum.invalid ? 'danger' : 'primary'
          "
        />
        <input
            [status]="driverContact.touched && driverContact.invalid ? 'danger' : 'primary'"
            formControlName="driverContact"
            name="driverContact"
            type="text"
            nbInput
            fullWidth
            placeholder="0771234567"
          />
          <div *ngIf="driverContact.touched && driverContact.invalid">
            <div *ngIf="driverContact.errors.minlength || driverContact.errors.maxlength">
              <div class="alert alert-danger">
                Invalid format
              </div>
            </div>
            <div *ngIf="driverContact.errors.pattern">
              <div class="alert alert-danger">
                Numbers Only
              </div>
            </div>

            <div *ngIf="driverContact.errors.required">
              <div class="alert alert-danger">
                Number Required
              </div>
            </div>
          </div>

        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Description"
          formControlName="description"
          [placeholder]="
              description.touched && description.invalid
              ? 'Description Required'
              : 'Description'
          "
          [status]="
              description.touched && description.invalid ? 'danger' : 'primary'
          "
        />
        <input
            type="text"
            nbInput
            fullWidth
            placeholder="Disabled input"
            disabled
          />
          <button [disabled]="form.invalid" nbButton status="primary" hero>
            Request
          </button>

      </nb-card-body>
    </nb-card>
    </form>
  </div>


</div>
