<app-header></app-header>
<app-side-bar></app-side-bar>

  <div class="content-body">

    <h1 class="display-4">Event Management</h1>

      <div class="container-fluid">
        <div class="row">
            <!--new & edit events form begin**********-->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                           
                                <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id"><!--hidden input tag for id-->
        
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-name">Event name <span class="text-danger">*</span></label>
                                    
                                    <div class="col-lg-6">
                                      <input type="text" name="name" #name="ngModel" [(ngModel)]="service.formData.name" class="form-control" placeholder="Event Name" required>
                                      <div *ngIf="name.invalid && name.touched" class="alert alert-danger">This field is required.</div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-date">Date <span class="text-danger">*</span></label>
                                    
                                    <div class="col-lg-6">
                                      <input type="date" name="date" #date="ngModel" [(ngModel)]="service.formData.date" class="form-control" placeholder="Date" required>
                                      <div *ngIf="date.invalid && date.touched" class="alert alert-danger">This field is required.</div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-time">Time <span class="text-danger">*</span></label>
                                    
                                    <div class="col-lg-6">
                                      <input type="time" name="time" #time="ngModel" [(ngModel)]="service.formData.time" class="form-control" placeholder="Time" required>
                                      <div *ngIf="time.invalid && time.touched" class="alert alert-danger">This field is required.</div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-author">Author<span class="text-danger">*</span></label>
                                    
                                    <div class="col-lg-6">
                                      <input type="text" name="author" #author="ngModel" [(ngModel)]="service.formData.author" class="form-control" placeholder="Author" required>
                                      <div *ngIf="author.invalid && author.touched" class="alert alert-danger">This field is required.</div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-venue">Venue<span class="text-danger">*</span></label>
                                    
                                    <div class="col-lg-6">
                                      <input type="text" name="venue" #venue="ngModel" [(ngModel)]="service.formData.venue" class="form-control" placeholder="Venue" required>
                                      <div *ngIf="venue.invalid && venue.touched" class="alert alert-danger">This field is required.</div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-price">Price<span class="text-danger">*</span></label>
                                    
                                    <div class="col-lg-6">
                                      <input type="text" name="price" #price="ngModel" [(ngModel)]="service.formData.price" class="form-control" placeholder="Price" required>
                                      <div *ngIf="price.invalid && price.touched" class="alert alert-danger">This field is required.</div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-quantity">Quantity<span class="text-danger">*</span></label>
                                    
                                    <div class="col-lg-6">
                                      <input type="number" name="quantity" #quantity="ngModel" [(ngModel)]="service.formData.quantity" class="form-control" placeholder="Quantity" required>
                                      <div *ngIf="quantity.invalid && quantity.touched" class="alert alert-danger">This field is required.</div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-soldQuantity">Sold quantity<span class="text-danger">*</span></label>
                                    
                                    <div class="col-lg-6">
                                      <input type="number" name="soldQuantity" #soldQuantity="ngModel" [(ngModel)]="service.formData.soldQuantity" class="form-control" placeholder="Sold quantity" required>
                                      <div *ngIf="soldQuantity.invalid && soldQuantity.touched" class="alert alert-danger">This field is required.</div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-des">Description<span class="text-danger">*</span></label>
                                            
                                    <div class="col-lg-6">
                                      <textarea type="text" name="des" #des="ngModel" [(ngModel)]="service.formData.des" class="form-control" placeholder="short Description here.." required ></textarea> 
                                      <div *ngIf="des.invalid && des.touched" class="alert alert-danger">This field is required.</div>
                                    </div> 
                                </div>
    
                                    <div class="form-group row" >
                                        <div class="col-lg-8 ml-auto" >
                                          <button type="submit" [disabled]="form.invalid" class="btn btn-primary">SUBMIT</button>
                                          <a class="btn" (click)="resetForm()" title="Click here to reset form"><i class="fa fa-linode"></i> Reset Form</a>
                                        </div>  
                                     </div> 

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--new & edit events form end**********-->

            <!--all events list begin**********-->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Events</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped verticle-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">Event</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Venue</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let event of list">
                                        <td (click)="onEdit(event)" title="Click here to show or edit details"><a class="btn">{{event.name}}</a></td>
                                        <td (click)="onEdit(event)" title="Click here to show or edit details"><a class="btn">{{event.date}}</a></td>
                                        <td (click)="onEdit(event)" title="Click here to show or edit details"><a class="btn">{{event.time}}</a></td>
                                        <td (click)="onEdit(event)" title="Click here to show or edit details"><a class="btn">{{event.venue}}</a></td>
                                        <td><a class="btn text-danger" (click)="onDelete(event.id)"><i class="fa fa-trash"></i></a></td>
                                      </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--all events list end**********-->
        </div>
      </div>
  </div>

