<app-header></app-header>
<app-side-bar></app-side-bar>

<div class="content-body">

  <div class="container-fluid mt-3">
      <div class="row">
          <div class="col-4">
              <div class="card gradient-1">
                  <div class="card-body">
                      <h3 class="card-title text-white">All Events</h3>
                      <div class="d-inline-block">
                          <h2 class="text-white">35</h2>
                          <p class="text-white mb-0">Jan - March 2019</p>
                      </div>
                      <span class="float-right display-5 opacity-5"><i class="fa fa-fort-awesome"></i></span>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card gradient-2">
                  <div class="card-body">
                      <h3 class="card-title text-white">Ongoing Events</h3>
                      <div class="d-inline-block">
                          <h2 class="text-white">10</h2>
                          <p class="text-white mb-0">Jan - March 2019</p>
                      </div>
                      <span class="float-right display-5 opacity-5"><i class="fa fa-snowflake-o"></i></span>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card gradient-3">
                  <div class="card-body">
                      <h3 class="card-title text-white">Finished Events</h3>
                      <div class="d-inline-block">
                          <h2 class="text-white">15</h2>
                          <p class="text-white mb-0">Jan - March 2019</p>
                      </div>
                      <span class="float-right display-5 opacity-5"><i class="fa fa-linode"></i></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

  <div class="content-body">
      <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" action="#" method="post">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-username">Event Name<span class="text-danger"></span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-username" name="val-username" placeholder="Enter a event name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-suggestions">Date<span class="text-danger"></span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="date" name="eventday">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-currency">Start Time<span class="text-danger"></span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="time" name="event-start-time">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-currency">End Time<span class="text-danger"></span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="time" name="event-end-time">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-suggestions">Description <span class="text-danger"></span>
                                    </label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" id="val-suggestions" name="val-suggestions" rows="5" placeholder="Description"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" accept="image/*">
                                    <label class="custom-file-label" for="inputGroupFile01">Upload jpg file</label>
                                  </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Events</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped verticle-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">Event</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Done</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Margenta Evening</td>
                                        <td>Apr 20,2018</td>
                                        <td>06:30pm</td>
                                        <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-danger"></i></a></span>
                                        </td>
                                        <td><a href="#" data-toggle="tooltip" data-placement="top" title="Done"><input type="checkbox"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Children Dreams</td>
                                        <td>May 27,2018</td>
                                        <td>11:30am</td>
                                        <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-danger"></i></a></span>
                                        </td>
                                        <td><a href="#" data-toggle="tooltip" data-placement="top" title="Done"><input type="checkbox"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Where is Harry?</td>
                                        <td>May 18,2018</td>
                                        <td>11:30am</td>
                                        <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-danger"></i></a></span>
                                        </td>
                                        <td><a href="#" data-toggle="tooltip" data-placement="top" title="Done"><input type="checkbox"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Day is the day</td>
                                        <td>Mar 27,2018</td>
                                        <td>11:30am</td>
                                        <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-danger"></i></a></span>
                                        </td>
                                        <td><a href="#" data-toggle="tooltip" data-placement="top" title="Done"><input type="checkbox"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Boats</td>
                                        <td>Jun 28,2018</td>
                                        <td>11:30am</td>
                                        <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-danger"></i></a></span>
                                        </td>
                                        <td><a href="#" data-toggle="tooltip" data-placement="top" title="Done"><input type="checkbox"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Sunset</td>
                                        <td>Aug 20,2018</td>
                                        <td>11:30am</td>
                                        <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-danger"></i></a></span>
                                        </td>
                                        <td><a href="#" data-toggle="tooltip" data-placement="top" title="Done"><input type="checkbox"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 m-b-30">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="../assets/images/events/fly.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="../assets/images/events/ant.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="../assets/images/events/power.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="../assets/images/events/moon.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->
                    </div>
                </div>
            </div>

        </div>
      </div>
  </div>

