<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Add Volunteer</nb-card-header>
      <nb-card-body>
        <div class="form-validation">
        <form [formGroup]="form" (ngSubmit)="onSubmit()"  class="form-valide">
          <div class="form-group row">
            <label for="val-fname" class="label col-sm-3 col-form-label">First Name</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="fName"
              name="fName"
              placeholder="First Name here.."
              formControlName="fName"
              >
              <div *ngIf="fName.touched && fName.invalid">
                <div class="alert alert-danger">
                  First name cannot be empty
                </div>
              </div>

            </div>
          </div>
          <div class="form-group row">
            <label for="val-lname" class="label col-sm-3 col-form-label">Last Name</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="lName"
              name="lName"
              placeholder="Last Name here.."
              formControlName="lName">
              <div *ngIf="lName.touched && lName.invalid">
                <div class="alert alert-danger">
                  Last name cannot be empty
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 label">Gender</label>
            <div class="col-sm-9">
              <nb-radio-group formControlName="gender">
                <nb-radio value="male">Male</nb-radio>
                <nb-radio value="female">Female</nb-radio>
                <nb-radio value="other" >Other</nb-radio>
                </nb-radio-group>
              <div *ngIf="gender.touched && gender.invalid">
                <div class="alert alert-danger">
                  Gender cannot be empty
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="val-dob" class="label col-sm-3 col-form-label">Date of Birth</label>
            <div class="col-sm-9">
              <input type="date" nbInput fullWidth id="dob"
              name="dob"
              placeholder=''
              formControlName="dob"
              >
              <div *ngIf="dob.touched && dob.invalid">
                <div class="alert alert-danger">
                  Date of Birth cannot be empty
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="NIC" class="label col-sm-3 col-form-label">NIC</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="NIC"
              name="NIC"
              placeholder="National ID card Number"
              formControlName="NIC"
              >
              <div *ngIf="NIC.touched && NIC.invalid">
                <div class="alert alert-danger">
                  NIC cannot be empty
                </div>
              </div>
             
            </div>
          </div>

          <div class="form-group row">
            <label for="val-phone" class="label col-sm-3 col-form-label">Mobile</label>
            <div class="col-sm-9">
              <input type="number" nbInput fullWidth id="mobile"
              name="mobile"
              placeholder="xxxxxxxxxx"
              formControlName="mobile"
              >
              <div *ngIf="mobile.touched && mobile.invalid">
                <div class="alert alert-danger">
                  Mobile Number cannot be empty
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="val-email" class="label col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" nbInput fullWidth id="email"
              name="email"
              placeholder="Your valid email.."
              formControlName="email"
              >
              <div *ngIf="email.touched && email.invalid">
                <div class="alert alert-danger">
                  Email cannot be empty
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="passwd" class="label col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" nbInput fullWidth id="passwd"
              name="val-passwd"
              placeholder="Choose a safe one.."
              formControlName="passwd"
              >
              <div *ngIf="passwd.touched && passwd.invalid">
                <div class="alert alert-danger">
                  Password cannot be empty
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="confirmpassword" class="label col-sm-3 col-form-label">Confirm Password</label>
            <div class="col-sm-9">
              <input type="password" nbInput fullWidth id="confirmpassword"
              name="confirmpassword"
              placeholder="Confirm Password"
              formControlName="confirmpassword"
              >
              <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
                <div class="alert alert-danger">
                  Password cannot be empty
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button [disabled]="form.invalid" type="submit" nbButton status="primary">Sign in</button>
            </div>
          </div>
        </form>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
