<div class="row">
  <div class="col-lg-6">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <nb-card>
      <nb-card-header>Add Event</nb-card-header>
      <nb-card-body>

        <div class="form-group">
        <input type="text" nbInput fullWidth placeholder="Event Name" formControlName="name"
        [placeholder]="name.touched && name.invalid ? 'Event Name Required!' : 'Event Name' "
        [status]="name.touched &&  name.invalid ? 'danger' : 'primary' ">
        </div>

        <div class="form-group">
          <label class="col-sm-3 label">Date</label>
          <input type="date" nbInput
               placeholder="Select Date"
               formControlName="date"
        [placeholder]="date.touched && date.invalid ? 'Date Required!' : 'Date' "
        [status]="date.touched &&  date.invalid ? 'danger' : 'primary' ">
          <!-- <input type="date" nbInput fullWidth placeholder="Date"> -->
        </div>

        <div class="form-group">
          <label class="col-sm-3 label">Time</label>
          <input type="time" nbInput fullWidth placeholder="Time" formControlName="time" [status]="time.touched &&  time.invalid ? 'danger' : 'primary' ">
          <div *ngIf="time.touched && time.invalid">Time Required!</div>
        </div>

        <input type="text" nbInput fullWidth placeholder="Venue" formControlName="venue"
        [placeholder]="venue.touched && venue.invalid ? 'Venue Required!' : 'Venue' "
        [status]="venue.touched &&  venue.invalid ? 'danger' : 'primary' ">

        <input type="text" nbInput fullWidth placeholder="Guest Author" formControlName="author"
        [placeholder]="author.touched && author.invalid ? 'Guest Author Name Required!' : 'Guest Author' "
        [status]="author.touched && author.invalid ? 'danger' : 'primary' ">

        <input type="text" nbInput fullWidth placeholder="Ticket Price" formControlName="price"
        [placeholder]="price.touched && price.invalid ? 'Ticket Price Required!' : 'Ticket Price' "
        [status]="price.touched && price.invalid ? 'danger' : 'primary' ">

        <input type="number" min="1" nbInput fullWidth placeholder="Ticket Quantity" formControlName="quantity"
        [placeholder]="quantity.touched && quantity.invalid ? 'Ticket Quantity Required!' : 'Ticket Quantity' "
        [status]="quantity.touched && quantity.invalid ? 'danger' : 'primary' ">
        
        <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Description" 
        formControlName="des"
          [placeholder]="des.touched && des.invalid ? 'Description Required!' : 'Description' "
          [status]="des.touched && des.invalid ? 'danger' : 'primary' "></textarea>


          <button  nbButton status="primary" hero [disabled]="form.invalid">
            Add Event
          </button>

      </nb-card-body>
    </nb-card>
    </form>
  </div>

</div>
