
    <nb-card class="list-card" size="small">
      <nb-card-header>Task
         <nb-select
         class="period-select"
         [selected]="tasks_set[0]"
         (selectedChange)="selectTask($event)"
         >
          <nb-option *ngFor="let item of tasks_set" [value]="item.id">
            {{item.task}}
          </nb-option>
         </nb-select>
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let v of volunteers">
          <nb-user [name]="v.name" [title]="v.email">
          </nb-user>
        </nb-list-item>
      </nb-list>
    </nb-card>
  

<div class="row">
<nb-card>
  <nb-card-header>
    Edit / Remove Tasks
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
</div>

